body{
	padding: 0 20px 0 0;
	font-family: sans-serif;
	overflow-y: scroll;
	font-size: 0.875em;
	line-height: 1.4;
}
.container{
	display: flex;
	justify-content: space-between;
}
.title_test{
	font-size: 1.95em;
	font-weight: normal;
}
.navigators{
	width: 12%;
	padding: 0 15px;
	height: auto;
	position: relative;
}
.logo{
	margin-bottom: 15px;
}
.nav_link{
	text-decoration: none;
	font-size: 0.85em;
}
.data{
	width: 83%;
	padding: 0 15px 25px 25px;
	border-left: solid .8px skyblue;
	border-bottom: solid .8px skyblue;
}
.home{
	display: flex;
	justify-content: space-between;
}
.text{
	width: 70%;
}
.images{
	width: 25%;
	border: solid 1px black;
	padding: 10px;
	background-color:  #f8f9fa;
	height: 80%;
}
.data_text{
	display: flex;
	justify-content: space-between;

}
.title_texts{
	width: 35%;
}
.subtitle_texts{
	width: 60%;
	margin-left: -20px;
}
.fonts{
	font-size: 13px;
}
.title_text{
	text-align: center;
	background-color: #cfe3ff;
}
.marg_left{
	margin-left: 20px;
}
.nav_link_is_text{
	text-decoration: none;
}
.link{
	margin-bottom: 10px;
}
.menu{
	width: 40%;
	padding: 15px;
	border: solid 1px black;
	background-color:  #f8f9fa;
}
.title_menu{
	text-align: center;
}
table{
	border: 1px solid #a2a9b1;
	border-collapse: collapse;
}

td {
	border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

.fow{
	font-weight: 700;
}
.center{
	text-align: center;
}

.foszew{
	font-size: 1.2em;
}
.foszewsr{
	font-size: 20px; 
	margin-top: 25px;
	font-weight: 600;
}
.foszews{
	font-size: 1.5em;
}
.link_for_prims{
	text-decoration: none;
	margin-left: 25px;
}
.sots{
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 10px 50px;
	border: 1px solid #a2a9b1;

}
.sots_titles{
	width: 15%;

}
.sots_links{
	width: 85%;
}
footer{
	margin-left: 15%;
	font-size: 0.75em;
	margin-top: 50px;
}